body {
  padding-bottom: 60px;
}

.main {
  margin: 0 auto;
  width: 330px;
}

legend.namespace {
  text-transform: uppercase;
}

h4 {
  margin: 0 0 14px;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"] {
  width: 100%;
}
